body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

p {
  color: dimgray;
}

.orange_highlight {
  color: orange;
}

section {
  height: 500px;
  padding-bottom: 150px;
}

.top_banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.half_width {
  width: 40%;
  margin-left: 5%;
  padding-left: 2%;
  float: left;
}

.half_width img {
  width: 100%;
}

.link_button {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
}

.dream_area {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experiences_area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.single_experiences {
  box-shadow: 10px 10px 40px gray;
  height: 80%;
  border-radius: 5px;
}

#full_stack_web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}

#baby_web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
  font-size: 12px;
}